
.couple_page_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.couple_page_content {
  display: flex;
  flex-direction: column;
}
.couple_page_content label {
  font-weight: 700;
}
.couple_page_content input {
  background-image: url("/src/2244.jpg");
  background-position: center;
  border: 1px solid #5f021fd0;
}
.couple_page_title {
  text-align: center;
}
