.countdownTimerContainerGuest{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.countdownTimerContainerGuest h2{
    margin: 0;
    padding: 0;
}
.countdownTimerGuest{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 60vw;
}
.button_question{
    background: #5f021fd0;
    border-radius: 24px;
    padding: 1rem;
    color: white;
    margin-top: 1rem;
    font-size: larger;
    border: none;
  }